body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


.header{
    background-color: #111;
    color: white;
    padding: 20px;
    
}

.logo{
    float: left;
    font-size:20px;
    font-weight: bold;
    
}

.menu{
    float: right;
}

.menu a{
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

.menu a:hover{
    color: rgb(135, 135, 135);

}



.hero{
    background-color: #f2f2f2;
    padding: 40px;
    text-align: center;
}

.hero a{
    margin-top: 15px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
}

.clear{
    clear: both;
}


.footer{
    background-color: #111;
    color: white;
    text-align: center;
    padding: 15px;
}