div{
    background-color: lightgray;
}

.news{
    text-align: center;
    font-size: 20px;
    width: 50%;
    background-color: lightgray;
    padding: 20px;
    border: 2px solid black;
}

.profile{
    margin-top:10px;
    width: 250px;
    background-color: #eaeaea;
    padding: 15px;
    text-align: center;
    border-radius: 20px;
    border: 2px solid black;
}


.profile img{
    width:100%;
    border-radius: 10px;
}

.profile a{
    margin-top:10px;
    color: white;
    background: black;
    padding: 15px;
    text-decoration: none;
}



.profile a:hover{

    background: white;
    color: black;

}
