body{
    width: 600px;
    margin: 20px auto;
}

div{
    padding: 10px;
    margin-bottom: 20px;
}


.bdr1{
    border: 2px solid #09c77e;
    border-radius: 10px;
}


.bdr2{
    background:  #09c77e;
    border-radius: 20px;
}


.bdr3{
    border: 4px solid #eaff00;
    border-radius: 10%;
}

.bdr4{
    width: 300px;
    height: 300px;
    border: 4px solid #eaff00;
    border-radius: 50%;
    text-align: center;
}


.brd-4-digits{
    border: 5px solid #ff0000;
    border-radius: 20px 0px 30px 0px;
}

.btar{
    border: 5px solid #0fb2f8;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 100px;
}